<!-- <footer class="footer mt-3">
    <div class="container-fluid bg-dark-grn footerbar side-margin">
        <div class="col-4 me-auto" style="float: left;">
            <div>
                <h5 style="text-decoration: underline; color: white;">COMPANY</h5>
                <div><a href="" class="footertext">CONTACT US</a></div>
                <div><a href="" class="footertext">CUSTOMER SUPPORT</a></div>
                <div><a href="" class="footertext">ABOUT US</a></div>
            </div>
        </div>
        <div class="col-4 text-center" style="float: left; flex: auto;">
            <h5 style="text-decoration: underline; color: white;">OFFLINE STORE</h5>
            <div><a href="" class="footertext">MALAPPURAM</a></div>
            <div><a href="" class="footertext">MANJERI</a></div>
            <div><a href="" class="footertext">CALICUT</a></div>
        </div>
        <div class="col-4 text-end" style="float: left;">
            <h5 style="text-decoration: underline; color: white;">CONNECT</h5>
            <div class="text-end" style="margin-left: 18px;">
                <a href="" class="footertext"><i class="fa-brands fa-linkedin"></i></a>
                <a href="" class="footertext"><i class="fa-brands fa-instagram"></i></a>
                <a href="" class="footertext"><i class="fa-brands fa-facebook"></i></a>
            </div>
        </div>
    </div>
</footer> -->
<footer class="footer mt-5">
    <div class="container-fluid bg-dark-grn footerbar side-margin">
        <div style="display: flex; justify-content: space-between;">
            <div>
                <h5 style="text-decoration: underline; color: white;">COMPANY</h5>
                <div><a href="" class="footertext">CONTACT US</a></div>
                <div><a href="" class="footertext">CUSTOMER SUPPORT</a></div>
                <div><a href="" class="footertext">ABOUT US</a></div>
            </div>
            <div style="text-align: center;">
                <h5 style="text-decoration: underline; color: white;">OFFLINE STORE</h5>
                <div><a href="" class="footertext">MALAPPURAM</a></div>
                <div><a href="" class="footertext">MANJERI</a></div>
                <div><a href="" class="footertext">CALICUT</a></div>
            </div>
            <div style="text-align: right;">
                <h5 style="text-decoration: underline; color: white;">CONNECT</h5>
                <div class="text-end" style="margin-left: 18px;">
                    <a href="" class="footertext"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="" class="footertext"><i class="fa-brands fa-instagram"></i></a>
                    <a href="" class="footertext"><i class="fa-brands fa-facebook"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/7be1b90eb3.js" crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</body>

</html>