<%- include ('../partials/user-header.ejs') %>

    <main class="mt-5" style="height: auto;">
        <div class=" content-head">
            <div class="content-head-rect col-5 bg-dark-grn">
                <div>
                    <h2 class="content-head-txt">EDIT PROFILE</h2>
                </div>
                <div class="content-head-tri ms-auto"></div>
            </div>
        </div>
        <div>
            <div class="content-body side-margin mt-3" style="justify-content: center;">
                <div class="profile-content w-25">
                    <% if (warning) {%>
                        <p class="text-danger">
                            <%= warning %>
                        </p>
                        <% } %>
                            <div class="tab-content mt-5" id="profileTabsContent">
                                <div class="tab-pane fade show active" id="details" role="tabpanel"
                                    aria-labelledby="details-tab">
                                    <form action="/my-account/update-password" method="post">
                                        <div class="mb-3">
                                            <label>Old Password:</label>
                                            <div class="" style="display: flex; justify-content: space-between;">
                                                <div class="w-75">
                                                    <input class="form-control password" required
                                                        type="password" name="oldPassword" placeholder="Password" />
                                                </div>
                                                <div class="text-end">
                                                    <button type="button" id="togglePassword"
                                                        class="btn btn-secondary">
                                                        Show
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div>
                                                <label>New Password:</label>
                                                <div class="w-75">
                                                    <div class="">
                                                        <input class="form-control password" required
                                                            type="password" name="password" placeholder="Password" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div>
                                                <label>Verify New Password:</label>
                                                <div class="w-75">
                                                    <div class="">
                                                        <input class="form-control password" required
                                                            type="password" name="password2" placeholder="Password" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-custom mt-2 bg-dark-grn">Submit</button>
                                    </form>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </main>



    <script>
        const toggleButton = document.getElementById('togglePassword');
        const passwordInputs = document.querySelectorAll('.password');

        toggleButton.addEventListener('click', (event) => {
            event.preventDefault();

            passwordInputs.forEach(input => {
                const type = input.getAttribute('type') === 'password' ? 'text' : 'password';

                input.setAttribute('type', type);
            });

            toggleButton.textContent = passwordInputs[0].getAttribute('type') === 'password' ? 'Show' : 'Hide';
        });
    </script>



    <%- include ('../partials/user-footer.ejs') %>